<div class="min-h-full flex justify-center items-center bg-table bg-cover dark:text-black">
    <div class="contact">
        <div class="h-full flex flex-col justify-between gap-y-6 items-center text-5xl overflow-y-auto">
            <p class="font-piece text-6xl text-center">Adhésion via HelloAssociation</p>
            <div class="grow flex flex-col gap-3 md:flex-row">
                <div class="border rounded-2xl p-3 text-lg flex flex-col justify-between md:w-1/2">
                    <p class="text-4xl text-center">Adhésion à l'association</p>
                    <p class="text-2xl">Cette adhésion vous donne le privilège de:</p>
                    <p class="text-2xl">- avoir le droit de vote à l'assemblée générale ayant lieu en début d'année</p>
                    <p class="text-2xl">- pouvoir participer aux activités associatives (Combapéro, covoiturage sur les
                        différents GNs, ...)</p>
                    <p class="text-5xl text-center">12€</p>
                </div>
                <div class="border rounded-2xl p-3 text-lg flex flex-col justify-between md:w-1/2">
                    <p class="text-4xl text-center">Tarif réduit conducteur et propriétaire de véhicules</p>
                    <p class="text-2xl">Ce tarif n'est valable que pour les personnes qui sont à la fois propriétaire
                        d'un véhicule (voiture, fourgonnette,...) et conducteur (titulaire d'un permis valide)</p>
                    <p class="text-5xl text-center">0€</p>
                </div>
            </div>
            <div class="flex justify-center">
                <a class="hover:text-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg px-5 py-2.5 text-center inline-flex items-center"
                   href="https://www.helloasso.com/associations/le-pacte-ludique/adhesions/adhesion-pacte-ludique-2025"
                   target="_blank">
                    Signer
                </a>
            </div>
        </div>
    </div>
</div>
