<div class="min-h-full flex justify-center items-center bg-table bg-cover dark:text-black">
<!--    <div class="contact flex flex-col class justify-center gap-y-6 items-center text-5xl">
        <p class="font-rosemary">Adresse</p>
        <p class="font-treasure text-center">3 Rue des Serruriers 06300 Nice</p>
        <p class="font-rosemary">Mail</p>
        <p class="font-treasure">avenir&#64;gmail.com (!important apres formulaire)</p>
        <p class="font-rosemary">Téléphone</p>
        <p class="font-treasure">XX.XX.XX.XX.XX</p>
        <p class="font-rosemary">Réseaux</p>
        <div class="flex gap-5">
            <a class="flex text-3xl items-center font-treasure" href="https://www.instagram.com/le_pacte_ludique/">
                <svg aria-hidden="true" class="w-12 h-12 hover:text-pink-800" fill="none"
                     height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd" d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                          fill="currentColor"
                          fill-rule="evenodd"/>
                </svg>
                Instagram
            </a>
            <a class="flex text-3xl items-center font-treasure" href="https://www.instagram.com/le_pacte_ludique/">
                <svg aria-hidden="true" class="w-12 h-12 hover:text-blue-800" fill="none"
                     height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.942 5.556a16.3 16.3 0 0 0-4.126-1.3 12.04 12.04 0 0 0-.529 1.1 15.175 15.175 0 0 0-4.573 0 11.586 11.586 0 0 0-.535-1.1 16.274 16.274 0 0 0-4.129 1.3 17.392 17.392 0 0 0-2.868 11.662 15.785 15.785 0 0 0 4.963 2.521c.41-.564.773-1.16 1.084-1.785a10.638 10.638 0 0 1-1.706-.83c.143-.106.283-.217.418-.331a11.664 11.664 0 0 0 10.118 0c.137.114.277.225.418.331-.544.328-1.116.606-1.71.832a12.58 12.58 0 0 0 1.084 1.785 16.46 16.46 0 0 0 5.064-2.595 17.286 17.286 0 0 0-2.973-11.59ZM8.678 14.813a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.918 1.918 0 0 1 1.8 2.047 1.929 1.929 0 0 1-1.8 2.045Zm6.644 0a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.919 1.919 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Z" fill="currentColor"
                          fill-rule="evenodd"/>
                </svg>
                Discord
            </a>

        </div>
    </div>-->
    <div class="contact flex flex-col">
        <div>
            <div class="relative w-full mt-4 rounded-md border h-10 p-1 bg-black/50">
                <div class="relative w-full h-full flex items-center">
                    <div (click)="selected=!selected" class="w-full flex justify-center text-gray-400 cursor-pointer">
                        <button>Renseignements</button>
                    </div>
                    <div (click)="selected=!selected" class="w-full flex justify-center text-gray-400 cursor-pointer">
                        <button>Organisation</button>
                    </div>
                </div>


                <span [ngClass]="{ 'left-1/2 -ml-1 bg-leather-600 text-white':!selected, 'bg-white text-leather-600 left-1 font-semibold':selected }"
                      class="shadow flex items-center justify-center w-1/2 rounded h-[1.88rem] transition-all duration-150 ease-linear top-[4px] absolute">
        {{formType}}
    </span>
            </div>
        </div>
    </div>
</div>
